*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: goldenrod;
}

ul{
    list-style: none;
    font-size: larger;
}

a{
    text-decoration: none;
}

body{
    background: url(./pexels-instawalli-176851.jpg) no-repeat center center fixed;
    background-size: cover;
}

header{
    background-color: #0c3647a1;
    display: flex;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.fa-code{
    color: #cccccc;
}

header .logo{
    background-color: #0c3647;
    height: 50px;
    border-radius: 0 15px 0 15px;
    align-items: center;
    padding: 20px;
}

header h2{
    color: #cc2c49;
    font-size: x-large;
}

header div{
    display: flex;
}

header ul{
    display: flex;
}

header ul li{
    padding: 5px;
}

header ul li a:hover{
    color: #cc2c49;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 60px;
    color: #cccccc;
}

.container .name h5{
    font-size: 25px;
    color: #cccccc;
}

#arrow{
    padding: 25px;
    font-size: 100px;
    cursor: pointer;
    animation: blink 300ms steps(5, start) infinite;
}

.fa-circle-arrow-down{
    color: #756c6e9d;
}

@keyframes blink{
    to{
        visibility: hidden;
    }
}

#animation{
    transition: 100ms;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.active{
    display: block !important;
}

#about p{
    max-width: 600px;
    margin: 0 auto;
}

.form{
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}

.form input{
    width: 50%;
    background-color: #0c3647a1;
    padding: 5px 10px;
    border-radius: 5px 0 0 0;

}

.form button{
    width: 15%;
    padding: 5px 10px;
    background-color: #0c3647a1;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0 0 5px 0;
}

.form button:hover{
    background-color: #cc2c49;
}

@media only screen and (max-width: 854px){
    .form{
        width: 85%;
    }
}

@media only screen and (max-width: 480px){
    .container .name h1{
        font-size: 30px;
    }
    .container .name h5{
        font-size: 15px;
    }

    #about p{
        max-width: 80%;
        text-align: justify;
    }
}